<!DOCTYPE html>
<html>
	<head>
		<%= include ../head.html.ejs %>
	</head>

	<body>

		<!-- Navigation -->
		<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
        	<a class="pull-left" href="#"><i class="fa fa-bars"></i></a>
          <span class="appname">Now Playing</span>
          <a class="pull-right" href="#"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>

    <div id="screens">

    	<section id="current">
    		<div class="container">
    			<div class="row">
    				<center>
    					<span>Status = offline</span>
    				</center>
    			</div>
    		</div>

    	</section>

	    <section id="playlists">
	    	<form class="form-horizontal" role="form">
					<div class="form-group">
					  <div class="col-sm-12">
					    <input type="email" class="form-control search" id="inputEmail3" placeholder="Search">
					  </div>
					</div>
				</form>
	    	<table class="table table-striped"></table>
	    </section>

	    <section id="tracklist">
	    	<form class="form-horizontal" role="form">
					<div class="form-group">
					  <div class="col-sm-12">
					    <input type="email" class="form-control search" id="inputEmail3" placeholder="Search">
					  </div>
					</div>
				</form>
	    	<table class="table table-striped"></table>
	    </section>

	  </div>
	</body>
</html>