<!DOCTYPE html>
<html>
	<head>
		<%= include ../head.html.ejs %>
	</head>

	<body>

		<!-- Navigation -->
		<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Modipy.co</a>
          <ul class="nav navbar-nav">
            <li><a href="404" class="active" data-bypass="true">404</a></li>
          </ul>
        </div>
      </div>
    </div>

		<!-- Hero -->
		<section id="hero">
			<div class="jumbotron">
				<div class="container">
					<div class="col-md-7">
						<h1>Hello, Modipy!</h1>
						<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
						<p><a class="btn btn-primary" role="button">Create a project »</a></p>
					</div>
					<div class="col-md-5">
					</div>
				</div>
			</div>
		</section>

	</body>
</html>