/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
tr {
  white-space: nowrap;
}
.navbar {
  margin-bottom: 0;
  background: #e4e3d7;
  border: none;
  box-shadow: inset 0px -4px 0px -2px rgba(50, 50, 50, 0.2);
}
.navbar span.appname,
.navbar i.fa {
  line-height: 48px;
  font-size: 1rem;
  font-weight: 600;
  color: #999;
}
.navbar i {
  margin: 0 15px;
}
.form-group {
  margin-bottom: 0;
}
.navbar-nav {
  margin: 0;
}
section#playlists tr td.options {
  opacity: 0;
  background: red;
}
section#playlists tr.edit td.options {
  opacity: 1;
}
.current {
  padding: 15px 30px;
}
.current span {
  display: block;
  font-weight: 600;
  color: #666;
  white-space: nowrap;
}
.current span.track {
  margin-bottom: 5px;
}
.current span.album,
.current span.artist {
  font-size: .75rem;
  color: #999;
  font-weight: 300;
}
.current i.fa-bars {
  position: relative;
  float: right;
}
.progholder {
  background: #EFEFEF;
  box-shadow: inset 0px -4px 0px -2px rgba(50, 50, 50, 0.2);
  position: relative;
  height: 22px;
}
.progholder .time {
  color: #666;
  font-size: 0.7rem;
  line-height: 16px;
  margin-left: 5px;
}
.progholder .prog {
  height: 22px;
  background: #e95f1d;
  width: 0%;
  color: #FFF;
  box-shadow: inset 0px -4px 0px -2px rgba(50, 50, 50, 0.2);
  overflow: hidden;
  position: absolute;
  top: 0;
}
.progholder .prog .time {
  color: #FFF;
}
.control {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
.control i {
  line-height: 60px;
  color: #999;
}
.control i.fa-fast-backward,
.control i.fa-fast-forward {
  font-size: 1rem;
}
.control i.fa-pause,
.control i.fa-play {
  font-size: 1.6rem;
}
.control i.active,
.control i:active {
  color: #e95f1d;
}
.cube-wrap {
  -webkit-perspective: 640px;
  -webkit-perspective-origin: 50% 50%;
  z-index: 1000;
  position: relative;
  background: #CCC;
}
.cube-wrap .cube {
  position: relative;
  width: 320px;
  height: 320px;
  -webkit-transform: translateZ(-160px);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}
.cube-wrap .cube div {
  position: absolute;
  width: 320px;
  height: 320px;
}
.cube-wrap .cube div img {
  width: 100%;
  pointer-events: none;
}
.cube-wrap .cube div.pane {
  display: none;
}
.cube-wrap .cube div.pane:first-child {
  display: block;
  -webkit-transform: translateZ(160px);
}
.cube-wrap .cube div.pane:nth-child(2) {
  display: block;
  -webkit-transform: translateZ(-160px) rotateY(180deg);
}
.cube-wrap .cube div.pane:nth-child(3) {
  display: block;
  -webkit-transform: rotateY(270deg) translateX(-160px);
  -webkit-transform-origin: left center 0px;
}
.cube-wrap .cube div.pane:nth-child(4) {
  display: block;
  -webkit-transform: rotateY(-270deg) translateX(160px);
  -webkit-transform-origin: right top 0px;
}
.cube-wrap .cube-controls {
  height: 60px;
  position: relative;
  width: 320px;
  -webkit-transform: translateZ(-160px);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}
.cube-wrap .cube-controls div.pane {
  position: absolute;
  width: 320px;
  height: 100%;
  background: white;
}
.cube-wrap .cube-controls div.pane:first-child {
  display: block;
  -webkit-transform: translateZ(160px);
}
.cube-wrap .cube-controls div.pane:nth-child(2) {
  display: block;
  -webkit-transform: rotateY(-270deg) translateX(160px);
  -webkit-transform-origin: right top 0px;
}
