<!-- Title -->
<title>Modipy.co</title>

<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- Bootstrap -->
<link href="/styles/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- Custom styles -->
<link href="/styles/style.css" rel="stylesheet" media="screen">

<!-- Webfonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">

<!-- FontAwesome -->
<link href="/styles/font-awesome.css" rel="stylesheet" media="screen">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Apple icons -->
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">

<!-- Application -->
<script src="http://musicbox.local/mopidy/mopidy.js"></script>
<script src="js/libs/require/require.js" data-main="/js/application/bootstrap"></script>
