<div class="container" style="padding:0">
	<div class="row current">
		<span class="track"><%= name %></span>
		<span class="artist"><%= _.first(artists).name %></span>
		<span class="album"><%= album.name %></span>
	</div>
	<div class="cube-wrap">
		<div class="cube depth"></div>
	</div>
	<div class="progholder">
		<span class="time">0:00</span>
		<div class="prog">
			<span class="time">0:00</span>
		</div>
	</div>

	<div class="cube-wrap">
		<div class="cube-controls">
			<div id="controls" class="pane">
				<div class="control"><i class="fa fa-random active"></i></div>
				<div class="control"><i class="fa fa-fast-backward"></i></div>
				<div class="control"><i class="fa toggle fa-pause"></i></div>
				<div class="control"><i class="fa fa-fast-forward"></i></div>
				<div class="control"><i class="fa fa-repeat"></i></div>
			</div>
			<div class="pane">
				<input id="volume" type="range" min="0" max="100" />
			</div>
		</div>
	</div>
</div>